<section class="vh-100" style="background-color: #508bfc;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sing up</h3>
            <div class="form-outline mb-4">
              <input type="email" id="typeEmailX-2" class="form-control form-control-lg" placeholder="Email" [(ngModel)]="email" (change)="onChangeForm()"/>

            </div>

            <div class="form-outline mb-4">
              <input type="text" id="typeuser-2" class="form-control form-control-lg" placeholder="Username" [(ngModel)]="user" (change)="onChangeForm()"/>

            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-1" class="form-control form-control-lg" placeholder="Password" [(ngModel)]="pwd" (change)="onChangeForm()"/>
            </div>

            <div class="form-outline mb-4">
              <input type="password" id="typePasswordX-2" class="form-control form-control-lg" placeholder="Confirm password" [(ngModel)]="cnfPwd" (change)="onChangeForm()"/>
            </div>


            <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onSubmit()">Create account</button>

            <small class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</small>
            <hr class="my-4">

            <p class="text-primary"> Already have an account? <a [routerLink]="'/login'">Login</a> instead</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
