/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; }

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: #f2f2f2;
}
/* .animated-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(45deg, #4e54c8, #8f94fb, #4e54c8, #8f94fb);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* Other styles for your homepage content */
.content {
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 50px;
  font-family: Arial, sans-serif;
}
h1 {
  font-size: 3em;
  color: #fff;
}
p {
  font-size: 1.2em;
  color: #fff;
}
